<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.Bibliotheque.Filtre.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignupFiltre</filter-name>
        <filter-class>com.Bibliotheque.Filtre.SignupFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SignupFiltre</filter-name>
        <servlet-name>Signup</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/index.jsp</url-pattern>
        <url-pattern>/admin/ajouter-categorie.jsp</url-pattern>
        <url-pattern>/admin/ajouter-document.jsp</url-pattern>
        <url-pattern>/admin/categories.jsp</url-pattern>
        <url-pattern>/admin/documents.jsp</url-pattern>
        <url-pattern>/admin/etudiants.jsp</url-pattern>
        <url-pattern>/admin/modifier-categorie.jsp</url-pattern>
        <url-pattern>/admin/modifier-document.jsp</url-pattern>
        <url-pattern>/admin/modifier-etudiant.jsp</url-pattern>
        <url-pattern>/admin/reservation.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>HttpSessionListener</description>
        <listener-class>com.Bibliotheque.Listener.Session</listener-class>
    </listener>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserver</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Reserver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUser</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.AdminUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Retourner</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.Retourner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterCategorie</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.AjouterCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierCategorie</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.ModifierCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierEtudiant</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.ModifierEtudiant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterDocument</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.AjouterDocument</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierDocument</servlet-name>
        <servlet-class>com.Bibliotheque.Controlleur.Admin.ModifierDocument</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserver</servlet-name>
        <url-pattern>/Reserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUser</servlet-name>
        <url-pattern>/AdminUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Retourner</servlet-name>
        <url-pattern>/Retourner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterCategorie</servlet-name>
        <url-pattern>/AjouterCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierCategorie</servlet-name>
        <url-pattern>/ModifierCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierEtudiant</servlet-name>
        <url-pattern>/ModifierEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterDocument</servlet-name>
        <url-pattern>/AjouterDocument</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierDocument</servlet-name>
        <url-pattern>/ModifierDocument</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
